<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory="/tmp/fuel-auth-phpunit"
         failOnWarning="true"
         failOnNotice="true"
         failOnDeprecation="false"
         executionOrder="default">
    <testsuites>
        <testsuite name="auth">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
